outputs/*
data/*
!data/*.b3sum
!data/*.sha256
results/**
!results/**/
!results/**/metrics*/
!results/**/metrics*/**
!results/**/aggregated_baseline/
!results/**/aggregated_baseline/**
!results/**/aggregated_preprocessing/
!results/**/aggregated_preprocessing/**
!results/**/aggregated_loss/
!results/**/aggregated_loss/**
improvements/results/
volumes/
ai4mi/
__pycache__/
projects
!distorch/compute_metrics.py
!statistical_test.txt
