outputs/*
data/*
!data/*.b3sum
!data/*.sha256
results/**
!results/**/
!results/**/metrics*/
!results/**/metrics*/**
!results/**/aggregated_baseline/
!results/**/aggregated_baseline/**
improvements/results/
volumes/
ai4mi/
__pycache__/
projects
!distorch/compute_metrics.py
